<head>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/lang/summernote-pl-PL.js" rel="javascript"></script>
</head>
<h3>Edytuj regulamin</h3>

<%= simple_form_for(@regulation) do |f| %>
    <%= f.error_notification %>

    <div class="form-group">
      <%= f.input :regulations, as: :summernote, label: false %>
    </div>

    <div class="form-group">
      <%= f.button :submit, class:'btn btn-default', value: 'Zapisz' %>
    </div>
<% end %>

<script>
    $(function() {
        var summer_note;
        summer_note = $('#regulation_regulations');
        summer_note.summernote({
            height: 500,
            lang: 'pl-PL',
            codemirror: {
                lineNumbers: true,
                tabSize: 2,
                theme: "solarized light"
            }
        });
        summer_note.code(summer_note.val());
        return summer_note.closest('form').submit(function() {
            summer_note.val(summer_note.code());
            return true;
        });
    });
</script>