<div class="col-xs-10">
  <h3>Regulamin</h3>
</div>
<div class="col-xs-2">
  <% if current_user && current_user.role=='admin' %>
      <%= link_to 'Edit', edit_regulation_path(1), class: 'btn btn-default' %>
  <% end %>
</div>
<div class="col-xs-12">
  <%= raw @regulations.regulations %>
</div>
