<p id="notice"><%= notice %></p>

<p>
  <strong>Regulations:</strong>
  <%= @regulation.regulations %>
</p>

<%= link_to 'Edit', edit_regulation_path(@regulation) %> |
<%= link_to 'Back', regulations_path %>
