.width-150 {
  width: 150px !important;
}

.display-inline {
  display: inline !important;
}

.top-3px {
  top: -3px !important;
  position: relative !important;
}

img.photo {
  max-width: 100%;
}

.white-color {
  color: white;
}

.white-color .admin-class {
  color: black !important;
}

.margin-bottom-2px {
  margin-bottom: 2px !important;
}

.disable-nav-tabs >*{
  color: gainsboro;
}

.inf-legend h5{
  font-weight: 800;
}

.inf-legend {
  margin-bottom: 5px;
}