body.background {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.background-1 {
  background-image: image_url('background1.jpg');
}

.background-2 {
  background-image: image_url('background2.jpg');
}

.seances-background, .payments-background, .infos-background, .regulations-background, .reservation-container,
.users-background, .tickets-background, .rooms-background, .categories-background, .admin-class.movies-background,
.orders-background.find-background, .orders-background.edit-background, .orders-background.show-background, .orders-background.summary-background{
  background-color: white;
  margin-top: -15px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}



html {
  height: 100%;
  box-sizing: border-box;
  body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding-bottom: 60px;
    footer {
      position: absolute !important;
      margin-bottom: 0 !important;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.reservation-container {
  padding-left: 15px;
  padding-right: 15px;
}

.movies-background {
  margin-top: 60px;
  h4 {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;

    a {
      color: white;
      &:hover {
        background-color: transparent;
      }
      &:visited {
        color: white;
      }
    }
  }
}

.field_with_errors {
  display: inherit !important;
}

.tooltip.top {
  .tooltip-inner {
    border: 2px solid white;
  }
  .tooltip-arrow {
    border-top-color: white;
  }
}