body.background {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.background-1 {
  background-image: image_url('background1.jpg');
}

.background-2 {
  background-image: image_url('background2.jpg');
}

.seances-background, .payments-background, .infos-background, .regulations-background, .reservation-container {
  background-color: white;
  margin-top: -15px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.reservation-container {
  padding-left: 15px;
  padding-right: 15px;
}

.movies-background {
  margin-top: 60px;
  h4 {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;

    a {
      color: white;
      &:hover {
        background-color: transparent;
      }
      &:visited {
        color: white;
      }
    }
  }
}

.field_with_errors {
  display: inherit !important;
}

.tooltip.top {
  .tooltip-inner {
    border: 2px solid white;
  }
  .tooltip-arrow {
    border-top-color: white;
  }
}