// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$mainOrange: rgba(225, 125, 85, 1);
$lightOrange: rgba(255, 165, 125, 1);

.movies-container {
  width: 100%;
  text-align: justify;
  text-align-last: justify;
  -moz-text-align-last: justify;

  .movies-item {
    img {
      width: 100%;
      height: 100%;
    }
    width: 250px;
    height: 400px;
    display: inline-block;
    border: 2px solid black;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 15px;
  }

  .tip {
    margin-left: 10px;
    background: #fefefe;
    border: 2px solid black;
    border-radius: 5px;
    z-index: 1;
    width: 200px;
  }

  .tip-title {
    background-color: #e0d8e0;
    padding: 5px 15px 5px 15px;
  }

  .tip-content {
    height: 80px;
    padding: 5px;
    text-align: left;
    hyphens: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.close{
  opacity: 1;
  color: white;
  font-size: 45px;
}

.close:hover{
  color: gray;
}

.modal-content-yt{
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0f0f0f;
}

.photo-show{
  margin-top: 10px;
  width: 200px;
}
