
* {
  box-sizing: border-box !important;
}



.seating-row {
  display: block;
  background-color: black;
  height: 60px;
}

.seatings-container {
  box-sizing: border-box;
  padding: 5px;
  position: relative;
}

.seating-legend-vertical {
  position: absolute;
  left: 30px;
  top: 0px;
}

.seating-legend-horizontal {
  position: absolute;
  left: 0px;
  top: 25px;
}

.seating-legend-vertical > .legend-item {
  display: inline-block;
  width: 60px;
  height: 25px;
  text-align: center;
  font-size: 16px;
}

.seating-legend-horizontal > .legend-item {
  display: block;
  width: 25px;
  height: 60px;
  padding-top: 22px;
  text-align: center;
  font-size: 16px;
}

.seat {
  transition: background-color 0.25s linear;
  display: inline-block;
  margin: 5px;
  background-color: white;
  width: 50px;
  height: 50px;
  padding-top: 17px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0,0,0,0);
  transition: color 0.25s linear;
}

.seat:hover {
  color: rgba(0,0,0,1);
}

.seat:hover:not(.is-na-true):not(.sold):not(.false) {
  background-color: lime;
  cursor: pointer;
}
.seat.is-na-true {
  background-color: orange;
  cursor: not-allowed;
}

.seatings {
  position: absolute;
  left: 25px;
  top: 25px;
  display: inline-block;
}

.block {
  background-color: #666666;
}

.cms-screen-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
}

.cms-screen {
  width: 100%;
  height: 50px;
  background-color: grey;
}

.cms-screen-inside {
  display:flex;
  align-items:center;
  height: 100%;
  margin:0px;
  justify-content: center;
  font-size: 54px;
}

.cms-seat {
  transition: background-color 0.25s linear;
  display: inline-block;
  margin: 5px;
  background-color: white;
  width: 50px;
  height: 50px;
  padding-top: 17px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0,0,0,0);
  transition: color 0.25s linear;
}

.cms-seat:hover {
  color: rgba(0,0,0,1);
}

.cms-seat:hover:not(.is-na-true):not(.sold):not(.false) {
  background-color: lime;
  cursor: pointer;
}
.cms-seat.is-na-true {
  background-color: orange;
  cursor: not-allowed;
}