// Place all the styles related to the Seances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.date-seance {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tab-content.seance {
  margin-top: 10px;
  margin-left: 33px;
}

.disable-nav-tabs {
  pointer-events: none;
}

.btn-seance {
  width: 62px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.seance-search.form-inline .form-control{
  width: 100%;
}

#q_start_date_gteq{
  text-align: left;
}

#q_start_date_lteq{
  text-align: left;
}