.cms-login-submit{
  width: 100%;
  font-size: medium;
  font-weight: 600;
}
//
//.cms-login-imput{
//  margin-left: 38.4%;
//  width: 260px;
//  text-align: center;
//}
//
//.cms-login > * {
//  padding: 10px;
//  flex: 1 100%;
//}

.container-center {
  width: 30%;
  margin: 0 auto;
  display: block;
  color: white;
  text-align: center;
  a {
    color: inherit;
    &:hover {
      background-color: transparent;
    }
  }
  input {
    color: #0f0f0f;
  }
}